body{
    background-color: #ccc;
    /*
    background-image: url(img/fondo.png);
    background-attachment: fixed; /*Para poder congelar la pantalla y hacer scroll 
    background-position: left bottom;
    background-size: 100% 100%;
    */
    color: black;
    text-align: justify;
    text-indent: 15px;
    /*
    word-spacing: 10px;
    letter-spacing: 5px;
    */
}

#caja{
    border: 5px solid black;
    padding: 10px;
    background-color: rgb(94, 131, 212);
    color: white;
    font-family: "Open Sans";
    text-align: center;
    text-transform: uppercase;
    text-decoration: underline;
    vertical-align: top;
}

h2{
    color: red;
    background: white;
}

