/*
###########SELECTORES #########
*/

/*SELECTOR UNIVERSAL */

*{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/*SELECTOR DE ETIQUETA */

h1{
    background: red;
    color: white;
    padding: 10px;
}

a{
    font-size: 18px;
    color: green;
    text-decoration: none;
}

footer a{
    color: red;
    
}

/*SELECTOR ID */

#descripcion, 
#titulo{
    border: 3px solid black;
    padding: 15px;

}

#titulo{
    background-color: blue;border: 2px dashed white;
}

/*SELECTOR CLASE */

.parrafo1{
    font-style: italic;
    /*text-decoration: underline; */
    font-weight: bold;
    background-color: olive;
}
.parrafo2{
    background-color: blue;
    color: white;
    padding: 10px;
}

/*SELECTOR DE ATRIBUTO */

#usuario form{
    border: 5px solid blue;
    margin-top: 15px;
    margin-bottom: 15px;
    padding: 20px;
}

#usuario form *{
    display: block;
}

input[type = "text"]{
    margin-bottom: 15px;
    padding: 10px;
    width: 300px;
}

input[type = "submit"]{
    background-color: green;
    color: white;
    padding: 15px;
    font-size: 15px;
    text-transform: uppercase;
    border: 1px solid black;
    cursor: pointer;
}

/*SELECTOR HIJO */

#menu > li > a{
    font-size: 18px;
    color: red;
    text-decoration: none;
}

/*PRIORIDAD */
/*Darle prioridad a los estilos de CSS que esten mas abajo */
/*Entre mas especifica sea la regla, mas prioridad tiene */

#saludo h1{
    background-color: brown !important;
}

h1{
    background: purple !important; /*!important tomara referencia la accion mas rapido  */
}
